version: '3'

services:
  db:
    image: postgres:12-alpine
    environment:
      - POSTGRES_DB=allpic
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./docker/postgres:/var/lib/postgresql/data
    restart: always
  backend:
    build: ./allpic-backend
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - AWS_ACCESS_KEY_ID=<aws_access_key>
      - AWS_SECRET_ACCESS_KEY=<aws_secret_key>
    depends_on:
      - db
  frontend:
    build: ./allpic-frontend/allpic
    environment:
      - API_URL=http://localhost/api
    depends_on:
      - backend
  proxy:
    image: nginx:latest
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - 80:80
    depends_on:
      - frontend
      - backend