.login_modal {

  &_close {
    float: right;
  }

  &_flex {
    display: flex;
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_content {
    max-width: 75%;
    margin: 0 auto; // centers content
  }

  &_button {

  }
}
