@import "../../styles/variables.scss";

.copy-icon {
  flex-basis: 0;
  margin: 0 5px;

  &:hover {
    cursor: pointer;
  }
}

.sharing-dropdown {
  min-width: 30rem;
}

.sharing-options {
  align-items: center;

  .sharing-option {
    &-field-body {
      align-items: center;
    }

    &-link-body {
      flex-grow: 1;
    }
  }
}
